/*
Work sans font 
 */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bitter&family=Dancing+Script:wght@500&family=Edu+NSW+ACT+Foundation&family=Edu+SA+Beginner:wght@700&family=Inter&family=Lobster&family=Merriweather&family=Noto+Sans&family=Open+Sans&family=Poppins:wght@400;500&family=Roboto:wght@500&family=Splash&family=Titillium+Web&family=Work+Sans&display=swap");

/*
That styles will be used multiple times. And Universal Selectors
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/*
Header and navigations styles 
 */

header {
  background-color: white;
  box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.06);
  /* margin-bottom: 32px; */
  padding: 5px 0;
  /* position: sticky;
  top: 0;
  z-index: 1; */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > a {
  text-decoration: none;
  padding: 3px;
  /* background: rgba(79, 157, 166, 0.1); */
  border-radius: 5px;
}
nav a img {
  height: 70px;
  width: 60px;
}

nav ul {
  display: flex;
  gap: 40px;
}
nav ul li {
  list-style-type: none;
  font-size: 16.5px;
  font-weight: bold;
  cursor: pointer;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
